<section class="mt-5 mb-3">
  <form
    [formGroup]="taskForm"
    class="d-flex gap-2 align-items-center justify-content-center"
  >
    <mat-form-field class="w-50">
      <mat-label>Tarefa</mat-label>
      <input formControlName="title" matInput required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="category" required>
        @for (categorie of categories; track categorie.value){
        <mat-option value="{{ categorie.value }}">{{
          categorie.viewValue
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button (click)="onAddTask()" mat-flat-button>
      <mat-icon
        class="m-0 fw-bold"
        aria-hidden="false"
        aria-label="Add Task Icon"
        fontIcon="add"
      ></mat-icon>
    </button>
  </form>
  @if (isFormInvalid) {
  <div class="d-flex justify-content-center">
    <p class="fw-bold text-danger">Todos os campos são obrigatórios</p>
  </div>
  }
</section>
