@if (tasks().length > 0) {
<app-filter (filterChange)="onFilterChange($event)" />

@if (filteredTasks().length > 0) {
<section layout="row" layout-wrap>
  @for (task of filteredTasks(); track task.title) {
  <div class="d-flex gap-2 mb-3">
    <h3 [class.completed]="task.completed">{{ task.title }}</h3>
    <button
      (click)="toggleCompletion(task.title, task.category)"
      mat-flat-button
    >
      @if (task.completed) {
      <mat-icon
        class="m-0 fw-bold"
        aria-hidden="false"
        aria-label="Undo Task Icon"
        fontIcon="close"
      ></mat-icon>
      } @else {
      <mat-icon
        class="m-0 fw-bold"
        aria-hidden="false"
        aria-label="Complete Task Icon"
        fontIcon="check"
      ></mat-icon>
      }
    </button>
    <button (click)="onEditTask(task)" mat-flat-button>
      <mat-icon
        class="m-0"
        aria-hidden="false"
        aria-label="Edit Task Icon"
        fontIcon="edit"
      ></mat-icon>
    </button>
    <button (click)="onRemoveTask(task.title, task.category)" mat-flat-button>
      <mat-icon
        class="m-0"
        aria-hidden="false"
        aria-label="Delete Task Icon"
        fontIcon="delete"
      ></mat-icon>
    </button>
  </div>
  }
</section>
} @else {
<h2 class="text-center mt-3">Nenhuma tarefa com essa categoria encontrada</h2>
} } @else {
<div class="d-flex flex-column align-items-center justify-content-center mt-5">
  <img class="w-25" src="no_data.svg" alt="No data" />
  <h1 class="mt-5">Nenhuma tarefa encontrada</h1>
</div>
}
